       body{ background-image: url(img/pexels-pixabay-265072.jpg);
        width: 100%;
height: 100vh;
        background-size: cover;
     }
     .container{     display: flex;
     flex-direction: column;
     justify-content: center;
     font-size: 17px;
     font-weight: bold;
  

     }
     .butt{
      text-align: center;
      justify-content: center;
     }
